<ul class="header__nav">
    <li class="header__nav-item ">
        <div class="header__nav-link-wrapper">
            <a href="counter" class="header__nav-link">Counter</a>
        </div>
    </li>
    <li class="header__nav-item ">
        <div class="header__nav-link-wrapper">
            <a href="todo" class="header__nav-link">Todo List</a>
        </div>
    </li>
    <li class="header__nav-item ">
        <div class="header__nav-link-wrapper">
            <a href="imagelibrary" class="header__nav-link">Image Library</a>
        </div>
    </li>
</ul>