@inherits LayoutComponentBase

<header class="header js-header" role="banner" data-stickify-me="true">
    <div class="header-main-wrapper">
        <div class="page-wrapper">
            <div class="header-main js-header-main">
                <a class="header__logo"></a>
                <div class="header-nav-wrapper js-header-nav-wrapper">
                    <SchiavelloNavMenu />
                </div>
            </div>
        </div>
    </div>
</header>
<article class="content px-4">
    @Body
</article>